.mainblock{
    border: 2px green solid;
    width: 80%;
    height: 90%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainblock__el{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 2% 0 2% 0;
    border: 2px solid green;
    border-radius: 20%;
}


.mainblock__text{
    text-align: center;
    width: 60%;
    padding-right: 20%;
}

.mainblock__messagesCount{
    border: rgba(128, 255, 0, 0.788) solid 2px;
    font-family: "apple2";
    color: rgba(128, 255, 0, 0.788);
    border-radius: 50%;
    width: 3%;
    height: 60%;
    font-size: 15px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mainblock__star{
    margin-right: 2%;
    background-image: url("../../../../assets/images/icons/green-star-icon-symbol-plant-text-meal-transparent-png-1881346.png");
    background-size: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mainblock__star:hover{
    background-image: url("../../../../assets/images/icons/star-5-128.png");
    background-size: 100%;
}

