<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="page">
    <header class="header">
        <button class="button">about us</button>
        <button class="button">about app</button>
    </header>
    <content class="content">
        <h1 class="welcome"> Welcome</h1>
        <button class="button">Sign up</button>
        <button class="button">Sign in</button>
    </content>
    </div>
</body>
</html>
