.profile{
    border: 2px green solid;
    width: 80%;
    height: 90%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}

.profile__image{
    width: 70%;
    height: 30%;
    border: green solid 3px;
    background: url("../../../../assets/images/green_heart.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile__updateButton{
    margin-bottom: 50%;
}

.profile__exitButton{
    color: rgba(255, 0, 0, 0.329);
}
