.mainblock{
    border: 2px green solid;
    width: 80%;
    height: 90%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainblock__el{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 2% 0 2% 0;
    border: 2px solid green;
    border-radius: 20%;
}