.mainblock{
    border: 2px green solid;
    width: 80%;
    height: 90%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainblock__el{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: 2% 0 2% 0;
    border: 2px solid green;
    border-radius: 20%;
}


.mainblock__text{
    margin-left: 10%;
    display: flex;
}

.mainblock__author{
    font-size: 25px;
}

.mainblock__message{
    margin-left: 5%;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: green;
    color: black;
    border-radius: 20%;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.mainblock__message:hover{
    color: green;
    background-color: black;
}

