.header {
    display: flex;
    justify-content: space-around;
    border-bottom: green solid 2px;
}

.button {
    color: green;
    font-family: "ibm3270";
    background-color: black;
    border: none;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;

}

.button:hover{
    color: black;
    background-color: green;
}

@media screen and (max-width: 1200px){

    .button{
        font-size: 50px;
    }
}

@media screen and (max-width: 570px){

    .button{
        font-size: 30px;
    }
}

@media screen and (max-width: 400px){

    .button{
        font-size: 25px;
    }
}