@font-face {
  font-family: "ibm3270";
  /* Имя шрифта */
  src: url(./assets/fonts/Narrow.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "apple2";
  /* Имя шрифта */
  src: url(./assets/fonts/AppleII.ttf);
  /* Путь к файлу со шрифтом */
}

body {
  margin: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
